# Arquivos de ambiente
.env

# Dados brutos e processados
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/processed_weather_data.parquet

# Modelos treinados
models/*
!models/.gitkeep
!models/precipitation_model.pkl

# Arquivos de IDE
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo

# Logs e arquivos temporários
*.log
*.tmp
*.bak

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de notebook
*.ipynb
*.ipynb_checkpoints
