streamlit==1.25.0
pandas==2.0.3
numpy==1.24.4
plotly==5.15.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
scikit-learn==1.3.0
joblib==1.3.2
sqlalchemy==2.0.20
openpyxl==3.1.2
gdown==4.7.1  # Adicionado para download do Google Drive
